[submodule "vim-pathogen"]
	path = .vim/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vimwiki"]
	path = .vim/bundle/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
	branch = dev
[submodule "taskwiki"]
	path = .vim/bundle/taskwiki
	url = https://github.com/tbabej/taskwiki
[submodule "vim-conda"]
	path = .vim/bundle/vim-conda
	url = https://github.com/cjrh/vim-conda.git
[submodule "notational-fzf-vim"]
	path = .vim/bundle/notational-fzf-vim
	url = https://github.com/alok/notational-fzf-vim.git
[submodule "monokai.vim"]
	path = .vim/colors/vim-monokai
	url = https://github.com/sickill/vim-monokai.git
[submodule "tender.vim"]
	path = .vim/colors/vim-tender
	url = https://github.com/jacoborus/tender.vim.git
[submodule "SimplyFold"]
	path = .vim/bundle/SimpylFold
	url = https://github.com/tmhedberg/SimpylFold.git
[submodule "YouCompleteMe"]
	path = .vim/bundle/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe.git
[submodule "vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim-dadbod"]
	path = .vim/bundle/vim-dadbod
	url = https://github.com/tpope/vim-dadbod.git
