[submodule "vim-pathogen"]
	path = .vim/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vimwiki"]
	path = .vim/bundle/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
	branch = dev
[submodule "taskwiki"]
	path = .vim/bundle/taskwiki
	url = https://github.com/tbabej/taskwiki
[submodule "vim-conda"]
	path = .vim/bundle/vim-conda
	url = https://github.com/cjrh/vim-conda.git
